body {
    min-height: 500px;
}

.sumosize {
    width:250px;
    float: left;
    margin: 0 20px 0 0;
}

.tab-row .tab a {
    text-decoration: none;
    color: #333;
}
.tab-page {
    min-height: 500px;
}

.clear {
    clear: both;
}

.subbat {
    float: left;
    padding: 18px 0 0 0;
}

.btn {
    background: #32ab9a none repeat scroll 0 0;
    border-color: #32ab9a;
    color: #fff;
    border-radius: 3px !important;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    text-shadow: none;
    transition: none 0s ease 0s;
    padding: 4px 8px;
}

.mess {
    float: right;
    min-width: 200px;
}

.parf {
    float: left;
    margin: 0 20px 0 0;
}

.tabres {
    width: 100%;
    border-collapse: collapse;

}

.tabres tr td {
    padding: 3px;
    border: 1px solid #eee;
}

.tabres tr td input {
    width: 100%;
}

.tabres tr:nth-child(1) td {
   font-weight: bold;
    background: #ddd;
    font-size: 15px;
}

.alert-ok {
    padding: 10px;
    background: #E3FCF6;
    margin: 10px 0 10px 0;
}

.alert-er {
    padding: 10px;
    background: #FFE9E6;
}

.loading {
    padding: 10px;
    font-size: 15px;
    color: #888;
    text-align: center;
    background: #E3FCF6;
}

.pagination {
    text-align: center;
}

.page {
    padding: 4px 6px;
    background: #999;
    color: #fff;
    margin: 0 1px 0 1px;
    cursor: pointer;
}
b.current {
    padding: 3px 5px;
}
h2.tab a {
    padding: 11px 15px !important;
    /*border: 1px solid red;*/
}

.sending {
    display: none;
}

.tarea {
    height: 35px;
    resize: vertical;
    width: 99%;
}












